@import "tailwindcss";

@theme inline {
  --color-primary: #CE3246;
  --color-primary-light: #F15B6F;
  --color-primary-dark: #CC1028;
  --color-secondary: #32CF52;
  --color-secondary-light: #7BD78D;
  --color-secondary-dark: #13C236;
  --color-white: #FFFDFD;
  --color-black: #140406;
  --color-gray: #D9D6D6;
}


@media (prefers-color-scheme: dark) {
  body {
      background-color: var(--color-black);
      color: var(--color-white);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Plus Jakarta Sans", sans-serif;
}
